/* 共通のCSS */
.navbar .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
}
#nav-button {
    padding: 10px 15px !important;
    font-size: 17px !important;
    border-radius: 0 !important;
}


#sample_01 {
    height: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#sample_02 {
    height: 75%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #000;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#q_area {
    height: 30%;
    border: 3px solid #f00;
    border-radius: 25px;
}
#a_area {
    /*height: 30%;*/
    border: 3px solid #00f;
    border-radius: 25px;
}
#a_btn {
    font-size: small;
    text-align: left;
}